:root {
  --skin-color: #fa5b0f;
  --skin-color-light: rgba(250, 91, 15, 0.1);
  --skin-color-dark: #e1520e;
  --gradient-primary: linear-gradient(135deg, var(--skin-color) 0%, var(--skin-color-dark) 100%);
}
